body {
  margin: 0;
  padding: 0;
  font-family: Monospace;
  background-color: #F5CCA0;
}

.login_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: red;
  }
